page-tabs {
    ion-header.header ion-navbar.toolbar div.toolbar-background,
    ion-content.content super-tabs super-tabs-toolbar ion-toolbar.toolbar div.toolbar-background {
        background: #32db64 !important;
    }

    .tabsHidden ion-navbar div {
        background: transparent !important;
    }

    .tabsHidden .toolbar-content .title {
        display: none;
    }

    .tabsHidden .fixed-content,
    .tabsHidden .scroll-content {
        margin-top: 0px !important;
    }

    ion-icon  {
        font-size: 22px !important;
    }
}
