page-popover {
        ion-list.list {
            margin: 10px 5px !important;
        }

        ion-list.list button .item-inner {
            border-bottom: 0px !important;
        }

        .list-ios {
            .item-block:first-child {
                border-top: 0px !important;
            }
            .item-block:last-child {
                border-bottom: 0px !important;
            }

        } 
        
}