page-image-view {
    
    .fixed-content,
    .scroll-content {
        margin-top: 0px !important;
    }

    ion-content {
        background: black !important;
    }

    .fixed-content ion-fab {
        margin-top: 50px;
        margin-right: 10px;
    }

    ion-header {
        .toolbar {
            position: absolute;

            .toolbar-background {
                background: transparent;
            }
            .toolbar-title {
                color: black;
            }
        }
    }

    ion-icon  {
        font-size: 22px !important;
        color: white;
    }

}